/* App.css */

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 10px; */
    font-family: Arial, sans-serif;
}

.header {
    background-color: #8fb0c9; /* Reddit blue */
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Set a high z-index to ensure the header appears above other content */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.auth-buttons {
    position: fixed;
    top: 15%; /* Align the buttons vertically in the middle of the header */
    transform: translateY(-10%); /* Adjust position to center vertically */
    right: 10px;
}

.auth-buttons button {
    background-color: #edae50; /* Reddit blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth-buttons button:hover {
    background-color: #b1cbe7; /* Darker shade of Reddit blue */
}

.auth-form {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.upload-container {
    margin-bottom: 20px;
}

.photos-container {
    width: 100%;
}

.button-container button {
    background-color: #0079d3; /* Reddit blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0a3057; /* Darker shade of Reddit blue */
}
